body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&w=1000&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-weight: 500;
    font-family: 'Architects Daughter', cursive;
}

.navbar{
    position: static;
    
}
.navbar-nav{
    margin-left: 25%;
}
.navbar li{
    padding: 10px;
    font-size: 25px;
}
input[type=number] {
    -moz-appearance:textfield; 
}

.dropdown-delivery{
    color: white;
    cursor: pointer;
    font-size: 14px;
}

button{
    color: black;
}

#address{
    color: black;
    background: white;
    border: 1px solid white;
    padding: 0.2%;
    font-weight: bold;
}

.inputIcon i{
    width: 13%;
    height: 3vw;
    padding: 0.5%;
    position: relative;
    text-align: center;
    left: -45.5%;
    top: 2px;
}
.inputIcon{
    display: flex;
    justify-content: center;
}

#form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
    font-size: 16px;
    text-align: left;
}

#form h3{
    color: orange;
    font-weight: bold;
    text-shadow: black;
}